<app-my-first-component></app-my-first-component>

<div>
    <p>Hello Turma #769</p>
</div>

<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>

<div>
    1. Crie dois componentes: um manualmente, e outro com o CLI: WarningAlert e
    SuccessAlert.
    2. Mostre os dois componentes um abaixo do outro no AppComponent.
    3. Mostre uma mensagem de warning ou success nos componentes.
    4. Estilize os componentes apropriadamente (talvez algum texto vermelho/verde?)
    5. Use templates e styles internos ou externos!
</div>