<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand text-light" href="#">Clínica HappyPet</a>
  <a class="nav-item nav-link text-light" routerLink="/clientes">Clientes</a>
  <a class="nav-item nav-link text-light" routerLink="/pacientes">Pacientes</a>
  <a class="nav-item nav-link text-light" routerLink="/agendamentos">Agendamentos</a>
</nav>

<router-outlet></router-outlet>

<!-- <app-page-not-found></app-page-not-found> -->
<!-- <app-servico></app-servico>

<app-cliente></app-cliente>

<app-paciente></app-paciente>

<app-agendamento></app-agendamento> -->

<!-- <app-parent></app-parent> -->